$donqBlue : rgb(19,39,129);
$deepBlue : rgb(13,47,90);
$yellow : rgb(255,242,146);
$orange : rgb(255,199,146);
$lightBlue : rgb(201,224,255);
$bg-lightColor: rgb(246,249,251);
$manderine : 'Noto Sans TC', sans-serif;
$english : 'Satisfy', cursive;

$s-title-size : 40px;
$c-title-size : 26px;
$c-subtitle-size : 21px;
$c-p-size : 18px;

$s-padding : 150px 0px 200px 0px;