@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @content;
}

@mixin s-english {
    font-size: 60px;
    letter-spacing: 10px;
    font-family: $english;
    color:$lightBlue;
    position: absolute;
    top:-35%;
    left:35%;
    @media (max-width: 1199.98px){
        font-size: 50px;
        left: 30%;
    }
    @media (max-width: 767.98px){
        font-size: 40px;
    }
}

@mixin section-title{
    font-size: $s-title-size;
    font-family: $manderine;
    letter-spacing: 5px;
    font-weight: 700;
    text-align: center;
    padding: 0px 0 50px 0;
    position: relative;
    @media (max-width: 1199.98px){
        font-size: 30px;
    }
    @media (max-width: 767.98px){
        font-size: 25px;
        padding: 0 0 30px 0;
    }
}

@mixin c-title{
    font-size: $c-title-size;
    font-family: $manderine;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 4px;
    @media (max-width: 1199.98px){
        font-size: 22px;
    }
}

@mixin c-subtitle{
    font-size: $c-subtitle-size;
    font-family: $manderine;
    font-weight: 400;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 3px;
    @media (max-width: 1199.98px){
        font-size: 18px;
        letter-spacing: 0.5px;
    }
}

@mixin c-p{
    font-size: $c-p-size;
    font-family: $manderine;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    @media (max-width: 1199.98px){
        font-size: 16px;
        color: black;
        font-weight: 400;
    }
}

@mixin s-before {
    content: " ";
    display: block;
    position: absolute;
    left: 0%;
    top: -60px;
    width: 100%;
    height: 60px;
    background-color: $deepBlue;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    @media (max-width: 991.98px){
        top: -30px;
    }
}

@mixin fake-anchor {
    position: absolute;
    top: -60px;
    left: 0;
}

@mixin s-padding {
    padding: 150px 0px 200px 0px;
    @media (max-width: 1199.98px){
        padding: 100px 0px 150px 0px;
    };
    @media (max-width: 991.98px){
        padding: 80px 0px 120px 0px;
    } 
    @media (max-width: 767.98px){
        padding: 60px 0px 80px 0px;
    }
}

@mixin aos-fadeUp {
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    transition-duration: 1.3s;
}

// Extra small devices (portrait phones, less than 576px)
@mixin breakpoint-down-xs {
    @media (max-width: 575.98px){
        @content;
    }
}

// Small devices (landscape phones, less than 768px)
@mixin breakpoint-down-sm {
    @media (max-width: 767.98px){
        @content;
    }
}

// Medium devices (tablets, less than 992px)
@mixin breakpoint-down-md {
    @media (max-width: 991.98px){
        @content;
    }
}

// Large devices (desktops, less than 1200px)
@mixin breakpoint-down-lg {
    @media (max-width: 1199.98px){
        @content;
    }
}
